<div class="col-12 col-md-12">
  <div class="row" style="height: 70px; background-color:#ebedf0;">
    <div class="h4 col-12 col-md-12 d-flex justify-content-center align-items-center mt-3">
      <form [formGroup]="buscarForm" class="needs-validation" novalidate>
        <div class="form-group row">
          <div class="form-group input-group">
            <input
              type="text"
              class="form-control col-md-12"
              id="pesquisa"
              formControlName="pesquisa"
              placeholder="Nome da Empresa"
              autocomplete="off"
              (blur)="buscarEmpresa()"
              />
              <div class="input-group-append pointer">
                <span class="input-group-text" id="pesquisar" (click)="buscarEmpresa()" title="Pesquisar"><i class="fas fa-search"></i></span>
              </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div>
  </div>
  <div class="col-12 col-md-12 mt-1">
    <div class="col-3 col-md-3">
      <table class="table table-borderless">
        <tbody>
          <tr *ngFor="let lista of listaEmpresa">
            <td>{{ lista.nomeFantasia }}</td>
            <td>{{ lista.razaoSocial }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-9 col-md-9">

    </div>
  </div>
</div>
