.perfilblock {
  border: 1px solid silver;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 20px;
}

.postagensblock {
  border: 1px solid silver !important;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 20px;
}

.amigosblock {
  border: 1px solid silver;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 20px;
}

.table-responsive {
  font-size: 10pt;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  height: 0px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.2);
}
